body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E5E5;
}

.page {
    max-width: 550px;
    background-color: white;
}

main {
    padding: .5em 2.3em;
}

